In [48]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("ignore", FutureWarning)

In [49]:
dataset = "News.json"

if os.path.isfile(dataset):
    news = pd.read_json("News.json", lines=True)

display(news.head(10))

,authors,category,date,headline,link,short_description
0,Melissa Jeltsen,CRIME,2018-05-26,There Were 2 Mass Shootings In Texas Last Week...,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...
1,Andy McDonald,ENTERTAINMENT,2018-05-26,Will Smith Joins Diplo And Nicky Jam For The 2...,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.
2,Ron Dicker,ENTERTAINMENT,2018-05-26,Hugh Grant Marries For The First Time At Age 57,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...
3,Ron Dicker,ENTERTAINMENT,2018-05-26,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...
4,Ron Dicker,ENTERTAINMENT,2018-05-26,Julianna Margulies Uses Donald Trump Poop Bags...,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ..."
5,Ron Dicker,ENTERTAINMENT,2018-05-26,Morgan Freeman 'Devastated' That Sexual Harass...,https://www.huffingtonpost.com/entry/morgan-fr...,"""It is not right to equate horrific incidents ..."
6,Ron Dicker,ENTERTAINMENT,2018-05-26,Donald Trump Is Lovin' New McDonald's Jingle I...,https://www.huffingtonpost.com/entry/donald-tr...,"It's catchy, all right."
7,Todd Van Luling,ENTERTAINMENT,2018-05-26,What To Watch On Amazon Prime That’s New This ...,https://www.huffingtonpost.com/entry/amazon-pr...,There's a great mini-series joining this week.
8,Andy McDonald,ENTERTAINMENT,2018-05-26,Mike Myers Reveals He'd 'Like To' Do A Fourth ...,https://www.huffingtonpost.com/entry/mike-myer...,"Myer's kids may be pushing for a new ""Powers"" ..."
9,Todd Van Luling,ENTERTAINMENT,2018-05-26,What To Watch On Hulu That’s New This Week,https://www.huffingtonpost.com/entry/hulu-what...,You're getting a recent Academy Award-winning ...

In [50]:
headline = pd.read_csv('headline_wv.csv', index_col=0)
headline.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-1.878604,4.167617,-0.225310,-1.041222,2.148745,-1.443447,-0.708527,0.069384,1.417807,31.262030,...,-2.368132,-0.898365,0.986635,-1.072183,0.359705,-0.227791,-1.266619,-4.018896,-0.112081,1.701113
1,-0.483339,2.690000,0.038453,0.802819,1.765464,-2.745277,0.489165,0.609477,-0.180497,22.442980,...,-2.111395,1.163916,2.725190,-1.036595,0.859070,0.266679,-1.852808,-2.112195,-0.823401,1.601891
2,-0.536040,3.384120,0.948684,-0.518919,0.091230,-0.576319,0.780529,-1.294651,2.428753,19.985232,...,-1.036426,0.184360,-0.451505,0.013444,1.008770,-1.065155,-1.632905,0.011763,-1.062404,0.671890
3,-3.315293,1.724203,0.618814,-0.457579,1.270060,1.234840,3.249144,-1.359959,-0.936396,13.239130,...,-0.630435,0.236110,2.025011,0.012932,1.366934,-0.789209,-1.830815,-0.787564,-2.558728,1.939883
4,-0.677621,2.887613,-1.078103,-0.193494,-0.306097,0.779953,-0.605511,-3.247287,0.465452,17.577660,...,0.970542,0.685741,0.419888,-1.187374,0.285373,-0.992745,0.271010,-0.235761,2.431483,-1.475672

In [51]:
#short_description = pd.read_csv('short_wv.csv', index_col=0)
#short_description.head()

In [52]:
#THE WORLDPOST and WORLDPOST should be the same category, so merge them. (and others as well)
def category_cleaner(x):
    
    if x == 'THE WORLDPOST':
        return 'WORLDPOST'
    elif x == 'PARENTING':
        return 'PARENTS'
    elif x == 'ARTS' or x == 'CULTURE & ARTS':
        return 'ARTS & CULTURE'
    elif x == 'STYLE':
        return 'STYLE & BEAUTY'
    elif x == 'COLLEGE':
        return 'EDUCATION'
    elif x == 'TASTE':
        return 'FOOD & DRINK'
    else:
        return x
    
news['category'] = news.category.apply(category_cleaner)

In [53]:
headline['category'] = news.category
headline.head()

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,category
0,-1.878604,4.167617,-0.225310,-1.041222,2.148745,-1.443447,-0.708527,0.069384,1.417807,31.262030,...,-0.898365,0.986635,-1.072183,0.359705,-0.227791,-1.266619,-4.018896,-0.112081,1.701113,CRIME
1,-0.483339,2.690000,0.038453,0.802819,1.765464,-2.745277,0.489165,0.609477,-0.180497,22.442980,...,1.163916,2.725190,-1.036595,0.859070,0.266679,-1.852808,-2.112195,-0.823401,1.601891,ENTERTAINMENT
2,-0.536040,3.384120,0.948684,-0.518919,0.091230,-0.576319,0.780529,-1.294651,2.428753,19.985232,...,0.184360,-0.451505,0.013444,1.008770,-1.065155,-1.632905,0.011763,-1.062404,0.671890,ENTERTAINMENT
3,-3.315293,1.724203,0.618814,-0.457579,1.270060,1.234840,3.249144,-1.359959,-0.936396,13.239130,...,0.236110,2.025011,0.012932,1.366934,-0.789209,-1.830815,-0.787564,-2.558728,1.939883,ENTERTAINMENT
4,-0.677621,2.887613,-1.078103,-0.193494,-0.306097,0.779953,-0.605511,-3.247287,0.465452,17.577660,...,0.685741,0.419888,-1.187374,0.285373,-0.992745,0.271010,-0.235761,2.431483,-1.475672,ENTERTAINMENT

In [54]:
headline.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '291', '292', '293', '294', '295', '296', '297', '298', '299',
       'category'],
      dtype='object', length=301)

In [55]:
features = headline.columns[:300] 
target = 'category'

In [56]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(headline[features], headline['category'], test_size=0.2, random_state=42)
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
66880,0.116719,1.592193,-0.345235,0.088287,1.260370,-0.747940,0.076950,-2.123611,-1.258829,27.319795,...,-2.635451,1.925295,1.412115,-0.433600,1.800667,-0.989020,-1.414610,-1.842106,0.361071,0.812537
68387,-0.388225,3.439458,-0.130140,2.484284,-1.194640,-1.779095,1.268107,-1.872943,2.010861,17.263260,...,1.245353,-1.074420,-0.334788,-0.635532,-0.943972,-0.734777,-0.185608,-0.085572,-0.474963,-0.515860
100514,-1.173525,0.207424,0.143150,0.808606,0.554440,1.458973,-0.136975,0.582108,-1.668010,11.618440,...,-1.251727,0.659460,0.149900,0.663929,-0.730210,0.502424,-0.792127,-0.189479,-0.507597,-0.897030
197218,-3.015455,4.189158,-3.260314,1.372039,0.504367,0.120007,-0.155711,-0.671880,-0.231399,21.472360,...,-1.104378,2.014765,1.805668,0.198524,-1.657369,-1.030834,0.331712,-0.860920,0.812552,0.391201
144020,2.116753,2.232098,-1.837999,0.695215,2.960859,-0.106008,0.672889,-1.065078,0.290524,24.153120,...,-0.334083,-0.425744,-0.456923,-0.535105,-0.153774,0.274402,0.539249,0.134084,-0.780106,-0.176378

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score

logreg = LogisticRegression(random_state=0, class_weight='balanced', C=1.0)
logreg.fit(X_train, y_train)
preds = logreg.predict(X_test)


print("micro:", f1_score(y_test, preds, average='micro'))
print("I am done!")

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [58]:
zero = pd.isnull(X_train).sum() > 0
for i in zero:
    if i==False:
        print(i)

In [59]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160682 entries, 66880 to 121958
Columns: 300 entries, 0 to 299
dtypes: float64(300)
memory usage: 369.0 MB

In [62]:
hero = np.isfinite(X_train.all())
for i in hero:
    if i==False:
        print(i)

In [63]:
np.where(X_train.values >= np.finfo(np.float64).max)

C:\Users\milen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in greater_equal
  """Entry point for launching an IPython kernel.

(array([], dtype=int64), array([], dtype=int64))